<navbar
  class="topbar d-flex flex-row justify-content-between align-items-center p-2"
>
  <a href="/"
    ><img class="logo" src="/images/discord.png" alt="discord logo"
  /></a>
  <div class="d-flex flex-row">
    <% if (user) { %>
    <a href="/auth/signout" class="mx-3">Déconnexion</a>
    <% } else { %>
    <a href="/users/new" class="mx-3">Inscription</a>
    <a href="/auth/signin/form" class="mx-3">Connexion</a>
    <% } %>
  </div>
</navbar>
