<navbar class="p-4 d-flex flex-row justify-content-end align-items-center">
  <div class="d-flex flex-row">
    <% if (user) { %>
    <div id="logout" class="mx-3">Déconnexion</div>
    <% } else { %>
    <a href="/users/new" class="mx-3 text-decoration-none">Inscription</a>
    <a href="/auth/signin/form" class="mx-3 text-decoration-none">Connexion</a>
    <% } %>
  </div>
</navbar>
